table {/* reset width */
	width: auto;
}

/* Horizontal drawing (default) styles */

/* Draw the lines */
.jOrgChart .line {
	height: 20px;
	width: 1px;
}

.jOrgChart .down {
	background-color: #46B1FF;
	margin: 0px auto;
}

.jOrgChart .top {
	border-top: 1px solid #46B1FF;
}

.jOrgChart .left {
	border-right: 1px solid #46B1FF;
}

.jOrgChart .right {
	border-left: 1px solid #46B1FF;
}

/* node cell */
.jOrgChart td {
	text-align: center;
	vertical-align: top;
	padding: 0;
}

/* The node */

.jOrgChart .node.selected {}

.jOrgChart .node, #node-a, #node-b, #node-c, #node-d {
	display: inline-block;
	width: 229px; 		/* vertical type node width */
	min-height: 39px;	/* vertical type node min-height */
	z-index: 10;
	margin: 0 2px;
	cursor: pointer;
	background: #46B1FF !important;
	border: 1px solid #3FA1E9 !important;
	box-sizing: border-box;
	border-radius: 6px;
	color: #FFFFFF;
	padding: 10px 0;
	font-size: 16px;
	font-family: Inter-Bold;
}

.jOrgChart .node#root {
	background: #F6A62D !important;
	border: 1px solid #EC910B !important;
	box-sizing: border-box;
	border-radius: 8px;
	font-size: 18px;
	text-transform: uppercase;
}

/* support vertical draw child nodes */
.jOrgChart .node.vertical { 
	float: left;
}

.jOrgChart .cover {
	position: absolute;
	cursor: pointer;
	margin-top: -6px;
	margin-left: -5px;
}

/* Vertical drawing styles */

.jOrgChart .multi-tree { 
	margin: 0; 
	float: left;
}

.jOrgChart .multi-tree .content {
	color: black;
	background-color: white;
	text-decoration: none;
	border: 1px solid black; 
	width: 135px;		/* horizontal type node width */
	min-height: 33px;	/* horizontal type node min-height */
	cursor: pointer;
	color: #007AD2;
}

.jOrgChart .multi-tree .selected,
.jOrgChart .multi-tree .content:hover {
	background-color: #0094FF !important;
	color: #FFFFFF;
}

.jOrgChart .multi-tree span {
	width: 135px;
	text-decoration: none;
	display: block;
	margin: 0 0 0 50px;
	padding-top: 10px;
	background-color: transparent;
	border: solid #46B1FF;
	border-width: 0 0 1px 1px;
}

.jOrgChart .multi-tree span .content  {
	display: block; 
	position: relative;
	top: .95em;
	margin: 0 0 .2em .7em;
	padding: 10px 0;
	background: #C5E7FF;
	border: 1px solid #46B1FF;
	box-sizing: border-box;
	border-radius: 6px;
}

.jOrgChart .multi-tree ul, .multi-tree li {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.jOrgChart .multi-tree ul li {
	line-height: 1.2em;
}

.jOrgChart .multi-tree ul li ul li {
	margin: 0 0 0 1.2em;
	border-left: 1px solid #46B1FF; /* vertical node connector line */
}

/* if node is last then need to remove left connector */
.jOrgChart .multi-tree li.last ul li {
	border: none;
}
